<h1>Alphabetized Customers<h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
    </p>
  <% end %>
</div>

<%= link_to "Customers", customers_path %> |
<%= link_to "Customers Without Emails", missing_email_customers_path %>